<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome to websalesCRM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="${header}:: header"> </header>

<h1 align="center">Order Card</h1>
<br><br><br>
<h1 align="center" th:text="'Order ID: ' + ${order.id}"></h1>
<h2 align="center" th:text="'Customer ID: ' + ${order.customer.customerId}"></h2>

<table style="width:75%" align="center" class="table">
    <th>Produkt Id</th>
    <th>Produktnamn</th>
    <th>Pris</th>
    <tr th:each="product: ${order.productsOrdered}">
        <td th:text="${product.id}"/>
        <td th:text="${product.name}"/>
        <td th:text="${product.price}"/>
    </tr>
</table>
</body>

</html>