<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome to websalesCRM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="${header}:: header"> </header>

<table style="width:75%" align="center" class="table">
    <th>Order ID </th>
    <th>Kund ID</th>
    <th>Order Sammanfattning</th>
    <th>Detaljer</th>
    <th>Åtgärd</th>
    <tr th:each="order: ${orderlist}">
        <td th:text="${order.orderId}"/>
        <td th:text="${order.customer.customerId}"/>
        <td th:text="${order}"/>
        <td>
            <a th:href="@{/order/ordercard(id=${order.orderId})}"/>
            <span>Orderinformation</span>
        </td>
        <td align="center">
            <a th:href="@{/order/deleteorder(id=${order.orderId})}"/>
            <span>Ta bort Order</span>
        </td>
    </tr>
</table>
</body>

</html>