<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Banansälj - skala banan!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>


<body bgcolor="#ffeb3b">
<header th:insert="${header}:: header"> </header>

<table style="width:75%" align="center" class="table">
    <th>Order ID </th>
    <th>Kund ID</th>
    <th>Order Sammanfattning</th>
    <th>Detaljer</th>
    <th>Åtgärd</th>
    <tr th:each="order: ${orderlist}">
        <td th:text="${order.orderId}"/>
        <td th:text="${order.customer.customerId}"/>
        <td th:text="${order}"/>
        <td>
            <a th:href="@{/order/ordercard(id=${order.orderId})}"/>
            <span>Orderinformation</span>
        </td>
        <td align="center">
            <a th:href="@{/order/deleteorder(id=${order.orderId})}"/>
            <span>Ta bort Order</span>
        </td>
    </tr>
</table>
</body>

</html>