<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<table style="width:50%" align="center">
    <tr>
        <th>
            <form id = "mainView" th:action = "@{/}" method="post">
                <input type="submit" value="Main View"/>
            </form>
        </th>
        <th>
            <form id = "customerListView" th:action = "@{/customerlist}" method="post">
                <input type="submit" value="List of Customers"/>
            </form>
        </th>
        <th>
            <form id = "addCustomer" th:action = "@{/addcustomer}" method="post">
                <input type="submit" value="Add Customer"/>
            </form>
        </th>
        <th>
            <form id = "orderListView" th:action = "@{/orderlist}" method="post">
                <input type="submit" value="List of Orders"/>
            </form>
        </th>
        <th>
            <form id = "productListView" th:action = "@{/productlist}" method="post">
                <input type="submit" value="List of Products" />
            </form>
        </th>
        <th>
            <form id = "addProduct" th:action = "@{/addproduct}" method="post">
                <input type="submit" value="Add Product" />
            </form>
        </th>
    </tr>
</table>
<br><br><br>
<h2 align="center">Add Customer</h2>

<form th:object="${customeradded}" th:action="@{/customerconfirmed}" method="post">
    <p align="center">Customer Name: <input type="text" th:field="*{name}"/></p>
    <p align="center">Phonenumber: <input type="text" th:field="*{phoneNumber}"/></p>
    <p align="center">Next date of contact: <input type="date" th:field="*{nextContactDate}"/></p>
    <p align="center">Comments: <input type="text" th:field="*{comments}"/></p>
    <p align="center"><input type="submit" value="Submit"/></p>
</form>

</body>

</html>