<!DOCTYPE html>
<html lang="en">
<title>Banansälj - skala banan!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body bgcolor="#ffeb3b">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Start</a>
        <a href="/register/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registrera</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Demo</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Om Banansälj</a>
        <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logga in</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="/" class="w3-bar-item w3-button w3-padding-large">Start</a>
        <a href="/register/" class="w3-bar-item w3-button w3-padding-large">Registrera</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Demo</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Om Banansälj</a>
        <a href="/login" class="w3-bar-item w3-button w3-padding-large">Logga in</a>

    </div>
</div>

<!-- Header -->
<header class="w3-container w3-yellow w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Banansälj</h1>
    <p class="w3-xlarge">Lika lätt som att skala en banan!</p>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Börja nu</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Gratis och enkelt att använda</h1>
            <h5 class="w3-padding-32">Om du är en person som gärna håller saker och ting enkelt utan krusiduller så är banansälj något för dig!
            Inga knepiga menyer och avancerade funktioner som tar lång tid att lära sig. Med banansälj lägger du enkelt upp dina produkter, kunder
            och order. </h5>

            <p class="w3-text-grey">Även om vi vill hålla systemet så enkelt som möjligt måste vissa funktioner finnas i ett sälj CRM. En av de
                viktigaste detaljerna är att förenkla kontakten med kund. Med Banansälj kan du själv skriva kommentarer och sätta nästa datum då du skall
                kontakta kunden. Alla moment i banansäj skall vara minimalistiska. Registrera dig, en kund, en produkt eller en order skall inte vara mer
                än några klick. Framför allt skall INTE du som kund behöva fylla i extra fält eller ge ut mer information om dig, dina kunder eller
                produkter än vad somär nödvändigt för att du skall kunna sälja.
            </p>
        </div>

        <div class="w3-third w3-center">
            <i><img src="/img/landingpage/banana.jpg" class="rounded float-left"> </i>
        </div>
    </div>
</div>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
