<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<table style="width:50%" align="center">
    <tr>
        <th>
            <form id = "mainView" th:action = "@{/}" method="post">
                <input type="submit" value="Main View"/>
            </form>
        </th>
        <th>
            <form id = "customerListView" th:action = "@{/customerlist}" method="post">
                <input type="submit" value="List of Customers"/>
            </form>
        </th>
        <th>
            <form id = "addCustomer" th:action = "@{/addcustomer}" method="post">
                <input type="submit" value="Add Customer"/>
            </form>
        </th>
        <th>
            <form id = "orderListView" th:action = "@{/orderlist}" method="post">
                <input type="submit" value="List of Orders - Not implemented"/>
            </form>
        </th>
        <th>
            <form id = "productListView" th:action = "@{/productlist}" method="post">
                <input type="submit" value="List of Products" />
            </form>
        </th>
        <th>
            <form id = "addProduct" th:action = "@{/addproduct}" method="post">
                <input type="submit" value="Add Product" />
            </form>
        </th>
    </tr>
</table>
<br><br><br>
<h1 th:align="center">List of products</h1>
<br><br><br>
    <table style="width:75%" align="center">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Action</th>
        <tr th:each="product: ${productlist}">
            <td align="center" th:text="${product.id}"/>
            <td align="center" th:text="${product.name}"/>
            <td align="center" th:text="${product.price}" />
            <td align="center">
                <a th:href="@{/deleteproduct(id=${product.id})}">
                    <span>Delete / </span>
                </a>
                <a th:href="@{/updateproductform(id=${product.id})}">
                    <span>Update</span>
                </a>
            </td>
        </tr>
    </table>




</body>

</html>