<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Banansälj - skala banan!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

body {
    background-color: #ffeb3b;
}
</style>
<!--<body bgcolor="#ffeb3b">-->
<body bgcolor="#ffeb3b">
<div class="w3-top">
    <div class="w3-bar w3-black w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Start</a>
        <a href="/register/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Registrera</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Demo</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Om Banansälj</a>
        <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logga in</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="/" class="w3-bar-item w3-button w3-padding-large">Start</a>
        <a href="/register/" class="w3-bar-item w3-button w3-padding-large">Registrera</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Demo</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Om Banansälj</a>
        <a href="/login" class="w3-bar-item w3-button w3-padding-large">Logga in</a>

    </div>
</div>
<div class="w3-row-padding w3-padding-64 w3-container w3-yellow w3-center">
    <h1>Registerera dig som ny användare</h1>

    <form th:object="${user}" th:action="@{saveuser}" method="post" class="form-horizontal">
        <div class="form-group">
        <label class="control-label col-sm-2">Användarnamn: </label>
            <input type="text" th:field="*{userName}" th:value="${user.userName}" class="form-control" required>
        </div>
        <!--    <p align="center">Email: <input type="text" th:field="*{phoneNumber}" th:value="${user.email}" required/></p>-->
        <div class="form-group">
        <label class="control-label col-sm-2">Lösenord: </label>
            <input type="password" th:field="*{password}" th:value="${user.password}" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" value="Registrera">
        </div>
    </form>
</div>
<div class="w3-container w3-white w3-center">
</div>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>

</html>