<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<h1 th:align="CENTER">Main view</h1>
    <table style="width:100%">
        <tr>
            <th>
            <form id = "mainView" th:action = "@{/}" method="post">
                <input type="button" value="Main View"/>
            </form>
            </th>
            <th>
                <form id = "addCustomer" th:action = "@{/addproduct}" method="post">
                    <input type="button" value="Add Customer"/>
                </form>
            </th>
            <th>
                <form id = "addProduct" th:action = "@{/addproduct}" method="post">
                <input type="button" value="Add Product" class="btn btn-red" />
            </form></th>
        </tr>
    </table>
    <table style="width:100%">
        <tr th:each="customer: ${customerlist}">
            <th><td th:text="${customer.customerId}" /></th>
            <th><td th:text="${customer.name}" /></th>
        </tr>

    </table>




</body>

</html>