<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<title>Banansälj - skala banan!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>


<body bgcolor="#ffeb3b">
<header th:insert="${header}:: header"></header>
<br>
<br>
<br>
<h1 align="center">Kundkort</h1>
<div class="container">
    <div class="card" style="width: 40rem;">
        <div class="card-body" align="center">
            <h5 th:text="${customer.name}"></h5>
            <p class="card-text">Telefonnummer</p>
            <p class="card-text" th:text="${customer.phoneNumber}"></p>
            <p class="card-text">E-post</p>
            <p class="card-text" th:text="${customer.email}"></p>
            <p class="card-text">Datum för nästa kontakt</p>
            <p class="card-text" th:text="${customer.nextContactDate}"></p>
            <p class="card-text">Senaste kommentar</p>
<!--            <p class="card-text" align="center" th:text="${customer.comments}"></p>-->
            <a th:href="@{/customer/updatecustomerform(id=${customer.customerId})}">
                <span>Uppdatera</span>
            </a>
        </div>
    </div>
</div>
<br>

<div align="center">
    <form id="createorder" th:action="@{/order/addorderform}">
        <button align="center" type="submit" th:name="customer" th:value="${customer.customerId}" class="btn btn-primary">Skapa ny order</button>
    </form>
</div>
<br><br>

<table style="width:75%" align="center" class="table">
    <th>OrderID</th>
    <th>Order Sammanfattning</th>
    <th>Detaljer</th>
    <tr th:each="order: ${customer.orders}">
        <td align="center" th:text="${order.orderId}"/>
        <td align="center" th:text="${order}"/>
        <td align="center">
            <a th:href="@{/ordercard(id=${order.orderId})}"/>
            <span>Orderinformation</span>
        </td>
    </tr>
</table>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>

</html>