<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome to websalesCRM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<header th:insert="${header}:: header"> </header>

<form th:object="${customeradded}" th:action="@{/customerconfirmed}" method="post">
    <div class="form-group">
    <label>Företag </label>
        <input class="form-control"type="text" th:field="*{name}"/>
    <label>Telefonnummer </label>
        <input class="form-control" type="text" th:field="*{phoneNumber}"/>
    <label>Datum för nästa kontakt</label>
        <input class="form-control" type="date" th:field="*{nextContactDate}"/>
    <label>Kommentarer: </label>
        <input class="form-control" type="text" th:field="*{comments}"/>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>

</body>

</html>